.input {
  margin: 20px;
  width: 300px;
  height: 100px;
  font-size: 58px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 58px;
}
.parrafo {
  color: red;
}
