* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgb(213, 248, 225);
}

.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 40px;
}

.title {
  color: rgb(85, 85, 85);
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav {
  color: rgb(85, 85, 85);
  font-size: 18px;
}

.nav__list {
  display: flex;
  margin: 10px;
}

.nav__link {
  text-decoration: none;
  margin: 10px;
}

.nav__link--link {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgb(165, 192, 174);
  color: white;
  box-shadow: 2px 2px grey;
}

a:hover {
  background-color: rgb(122, 139, 128);
}

.section {
  width: 80%;
  height: 100px;
  background-color: white;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 4px;
  box-shadow: 2px 2px rgb(173, 173, 173);
  margin-bottom: 20px;
}

.interior {
  background-color: white;
}
