<main class="main">
  <form action="" method="post">
    <label for="firstName">Nombre</label>
    <input placeholder="Escribe aqui tu nombre" id="firstName" type="text" name="firstName" />
    <label for="lastName">Apellido</label>
    <input placeholder="Escribe aqui tus appellidos" id="lastName" type="text" name="lastName" />
    <label for="emailAddress">Correo electrónico</label>
    <input placeholder="Escribe aqui tu email" type="email" id="emailAddress" name="emailAddress" />
    <label for="street">Calle</label>
    <input placeholder="Escribe aqui la calle" type="text" id="street" name="street"/>
      <label for="city">Ciudad</label>
    <input placeholder="Escribe aqui la ciudad" type="text" id="city" name="city"/>
      <label for="province">Provincia</label>
    <input placeholder="Escribe aqui la provincia" type="text" id="province" name="province"/>
    <label for="country">Pais</label>
    <input placeholder="Escribe aqui el pais" type="text" id="country" name="country"/>
      <label for="ID">DNI / NIE</label>
    <input placeholder="Escribe aqui tu DNI/NIE" id="ID" type="text" name="ID" />
    <label for="telephone">Teléfono</label>
    <input placeholder="Escribe aqui tu telefono" type="tel" id="telephone" name="telephone" />
    <label for="password">Contrasena</label>
    <input placeholder="Escribe aqui tu contrasena" type="password" id="password" name="password" />
    <label for="password">Confirmar contrasena</label>
    <input placeholder="Confirma aqui tu contrasena" type="password" id="password" name="password" />
    <input type="submit" value="Enviar info" />
  </form>  
</main>
