.navigation{
    background-color: rgb(6, 145, 110);
    box-sizing: border-box;

}
.heading{
    font-size: 42px;
    color: darkgreen;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
.list {
    
    list-style-type: none;
    font-style: oblique;
    font-weight: bold;
    text-align: right;  
}
.item{
    font-size: 22px;
    display: inline;
    margin: 6px;
}