<main class="main">
  <section class="main__section">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi
      adipisci consectetur debitis sapiente non rem modi inventore tenetur vitae
      corrupti distinctio aperiam eligendi ducimus eius possimus, totam
      consequuntur molestias. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Unde reiciendis, consequatur aspernatur in iure sapiente ipsum
      repudiandae esse fugit laudantium possimus error illo fuga obcaecati
      perferendis autem quod similique ab. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Illum odit soluta at, tenetur dolor repellat
      blanditiis quas necessitatibus deserunt officiis ipsum. Sunt at error
      laudantium fuga quibusdam assumenda minus minima. Lorem ipsum dolor sit,
      amet consectetur adipisicing elit. Ullam ipsam quaerat nisi amet velit
      fugiat quibusdam illum itaque officia aliquid doloribus cum cumque tempore
      eos ex, dolorum ad consequuntur nesciunt. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Architecto, autem? Doloremque velit at
      commodi in tempora facilis numquam sed optio accusantium, nemo ipsa quas
      incidunt itaque, nostrum nisi! Non, ut. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Minus modi illo vitae sed necessitatibus
      maxime saepe velit sequi? Et omnis optio dolorum eaque porro earum
      perferendis praesentium corrupti cumque amet!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat sequi
      cumque tempora ad inventore nostrum tempore incidunt, hic ipsum, facere
      facilis? Ipsum repellat ipsa suscipit doloremque, delectus odit molestias
      cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
      ullam ut minima nobis dolores iure porro nesciunt? Libero, quam sint
      eligendi quisquam inventore sed accusantium, officiis assumenda quod
      similique molestiae! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fuga est nemo repellat sed porro harum velit! Dolorem est a, modi
      blanditiis, voluptates exercitationem sequi assumenda, illum culpa
      reprehenderit dicta quam? 
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat sequi
      cumque tempora ad inventore nostrum tempore incidunt, hic ipsum, facere
      facilis? Ipsum repellat ipsa suscipit doloremque, delectus odit molestias
      cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
      ullam ut minima nobis dolores iure porro nesciunt? Libero, quam sint
      eligendi quisquam inventore sed accusantium, officiis assumenda quod
      similique molestiae! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fuga est nemo repellat sed porro harum velit! Dolorem est a, modi
      blanditiis, voluptates exercitationem sequi assumenda, illum culpa
      reprehenderit dicta quam?
    </p>
  </section>
  <section class="section__2">
    <h1>Título</h1>
    <button class="button">Click me</button>
  </section>
</main>
